.navbar{
    justify-content: space-between;
    padding: 20px 30px;
    position: fixed;
    width: 100%;
    background: linear-gradient( 90deg , #4c0e4e 30%, #7e2d02 100%);
}

.navbar img {
    width: 25px;
}
.navbar a {
    padding: 10px;
}
.navbar a:hover {
    color: #ffffff;
    font-weight: 400;
}