
.detail-wrapper{
    position: relative;
    top: 100px;
    z-index: -1;  
}
.movie-detail-container {
    border-color: none;
    border-radius: 20px;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(71, 57, 57, 0.109);
    align-items: center;
    z-index: -1;

}
.detail-main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail-info {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.movie-detail-container h2 {
  font-size: 20px;
  color: rgb(245, 245, 245);
  padding: 30px 0;
}
.movie-detail-container img {
    width: 200px;
}
.synopsis {
    color: rgb(245, 245, 245);
    font-weight: 100;
    padding: 0 20px;
    text-align: justify;
    align-items: center;
}
.button-wrapper {
    padding: 20px 0;
}
@media (min-width: 600px) {
    .detail-main-info {
        display: flex;
        flex-direction: row;
    }  
    .detail-main-info div {
        padding: 0 40px;
    }
    .synopsis {
        padding: 10px;
        max-width: 500px;
    }

}