.movies-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-title{
    width: 200px;
    text-align: center;
    height: 30px;
}
.movie-img {
    max-width: 200px;
    height: 300px;
    border-radius: 5px;
}